<html>
<head>
  <title>Homepage</title>
</head>
<body>
<form action="/search" method="GET">
<input type="hidden" name="search" value="search">
<button>SEARCH</button>
</form>
<br></br>
<form action="/newdocument" method="GET">
<input type="hidden" name="new" value="new">
<button>New Document/Author</button>
</form>
<br></br>
<form action="/documents" method="GET">
<input type="hidden" name="documents" value="documents">
<button>View Documents</button>
</form>
<br></br>
<form action="/authors" method="GET">
<input type="hidden" name="authors" value="authors">
<button>View Authors</button>
</form>

</body>
</html>