<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Homepage</title>
</head>
<body>
  <h1>SUPERHERO WIKI<h1>
<form action="/search" method="GET">
<button>SEARCH</button>
</form>
<form action="/newdocument" method="GET">
<button>NEW SUPERHERO/NEW AUTHOR</button>
</form>
<form action="/documents" method="GET">
<button>VIEW SUPERHEROS</button>
</form>
<form action="/authors" method="GET">
<button>VIEW AUTHORS</button>
</form>
<%if recentstuff.length == 0%>
<p>NO RECENT ACTIVITY</p>
<%else%>
<p>RECENT ACTIVITY</p>
<ol>
<%recentstuff.each do |recent|%>
</h5><li><%=recent.document_name.upcase%> <%=recent.author_first%> <%=recent.author_last%> was <%=recent.action%></li></h5>
<%end%>
</ol>
<%end%>
</body>
</html>