<html>
<head>
  <title><%=olddocument.old_name%></title>
</head>
<body>
  <a href="/history/<%=document.id%>">GO BACK </a>
  <h2>SUPERHERO NAME</h2>
<%=olddocument.old_name%>
<h2>OLD BIOGRAPHY</h2>
<%=olddocument.old_information%>
</body>
</html>