<html>
<head>
  <title>SEARCH</title>
</head>
<body>
  <a href="/">HOMEPAGE</a>
  <p>SEARCH FOR A SUPERHERO</p>
<form action="/results" method="GET">
<input type="text" name="search" placeholder="searching for...">
<button>SEARCH</button>
</form>
</body>
</html>