<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>

  <title>SEARCH</title>
</head>
<body>
<h1>SEARCH</h1>
<h3><a href="/">HOMEPAGE</a><h3>
<form action="/results" method="GET">
<input type="text" name="search" placeholder="searching for...">
<button>SEARCH</button>
</form>
</body>
</html>