<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>SEARCH</title>
</head>
<body>
  <a href="/">HOMEPAGE</a>
  <p>SEARCH FOR A SUPERHERO OR BIOGRAPHY</p>
<form action="/results" method="GET">
<input type="text" name="search" placeholder="searching for...">
<button>SEARCH</button>
</form>
</body>
</html>